<div class="container">
  <button class="button" (click)="getYears()"> Select vehicle </button>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="data">
        <p *ngFor="let item of data$ | async">
          <button class="button" (click)="OnItemClick(selectedType, item)"><span>{{item}} </span></button>
        </p>
      </div>
    </div>
  </div>
</div>